.footer-container{
    display: flex;
    justify-content: center;
    padding-inline: 50px;
    padding-top: 70px;
    background-color: rgb(9, 6, 53);
    height: fit-content;
}

.brand-image{
    width: 240px;
}
.brand-description{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding-inline: 20px;
    color: rgb(163, 183, 212);
    font-size: 17px;
    font-weight: 400;
}
.mobile-app{
    margin-top: 30px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}
.mobile-app img{
    margin-right: 10px;
}
.divider{
    height: .5px;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: white;
}

.contact-info{
    align-items: center;
    color: rgb(163, 183, 212);
  
}

.title{
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.content{
    font-size: 500;
    color: rgb(163, 183, 212);
}

.footer-columns{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-content{
    margin-top: 15px;
    cursor: pointer;
}

.footer-buttom{
    color:  rgb(163, 183, 212);
    margin-bottom: 70px;
}

.social-media{
    display: flex;
    justify-content: right;
    align-items: center;
}

.social-media-icon{
    margin-left: 10px;
}

.social-media-icon:hover{
    color: white;
}